footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 3rem;

    .sales-hook {
        width: 18%;
        margin-left: 6%;

        img {
            margin-bottom: 1rem;
        }
    }

    h3 {
        margin-bottom: 8px;
        font-size: 1.25rem;
    }

    p {
        margin-bottom: 4px;
        font-size: 1.125rem;
    }

    .footer-practice-section {
        width: 80%;
        display: flex;
        justify-content: center;

    }

    .footer-practice-content {
        width: 50%;
    }

    .footer-practice-areas {
        display: flex;

    }

    .footer-practice-area1 {
        margin-right: 10%;
    }

    .footer-contact {
        width: 18%;
        margin-right: 6%;
    }



    .footer-email {
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
        }

        margin-bottom: 24px;
    }

    .footer-phone {
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
        }

        margin-bottom: 24px;
    }

    .footer-social {
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
        }
    }


    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 80%;
        margin: 48px auto;

        .sales-hook {
            width: 100%;

            img {
                width: 15%x;
                height: 15%;
            }
        }

        .footer-practice-section {
            width: 100%;
            margin: 48px auto;

            .footer-practice-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .footer-practice-areas {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

            }
        }

        .footer-contact {
            width: 100%;
            margin: 0 auto 0 auto;


            h3 {
                margin-bottom: 32px;
            }
        }

        .footer-contact-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    @media (min-width: 481px) and (max-width: 770px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 80%;
        margin: 48px auto;

        .sales-hook {
            width: 100%;

            img {
                width: 15%x;
                height: 15%;
            }
        }

        .footer-practice-section {
            width: 100%;
            margin: 48px auto;

            .footer-practice-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .footer-practice-areas {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

            }
        }

        .footer-contact {
            width: 100%;
            margin: 0 auto 0 auto;


            h3 {
                margin-bottom: 32px;
            }
        }

        .footer-contact-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

}