header {

    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        width: 10rem;
        height: 4rem;
    }

    nav {
        display: flex;
        justify-content: space-around;
        top: 24px;
        position: absolute;
        width: 100%;

        .hamburger-menu-hidden {
            display: hidden;
        }

        // left: 100px;
        background-color: map-get($neutrals, white);

        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style-type: none;

            li {

                a {
                    text-decoration: none;
                    display: block;
                    width: 10vw;
                    color: map-get($pry-colors, dark-black);



                    &:hover {
                        text-decoration: underline 5px solid map-get($pry-colors, dark-red);
                    }
                }


            }
        }




    }

    @media (max-width: 480px) {
        display: none;
    }
}

.mobile-menu {
    display: none;

    @media (max-width: 480px) {
        display: flex;
    }
}

button {
    width: 10rem;
    height: 3.5rem;
    background-color: map-get($pry-colors, dark-red);
    color: map-get($neutrals, white);
    border-radius: 10px;
    border-style: none;
}