body {
    font-family: "Lato", sans-serif;

    h1 {
        font: {
            weight: 900;
            size: 2.5rem;
        }

        line-height: 3.5rem;

        color: map-get($pry-colors, white);
    }

    h2 {
        font: {
            weight: 900;
            size: 2.25rem;
        }

        line-height: 2.5rem;

        color: map-get($neutrals, dark-black);
    }

    h3 {
        font: {
            weight: 700;
            size: 2rem;
        }

        line-height: 2.3rem;

        color: map-get($neutrals, dark-black);
    }

    h4 {
        font: {
            weight: 700;
            size: 1.5rem;
        }

        line-height: 1.9rem;

        color: map-get($neutrals, dark-black);
    }

    p {
        font: {
            weight: 400;
            size: 1.5rem;
        }

        
        line-height: 1.9rem;

        color: map-get($neutrals, light-black);
    }

    button {
        font: {
            family: "Lato", sans-serif;
            size: 1.125rem;
            weight: 500;
        }
    }

    
}