@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* HTML5 display-role reset for older browsers */

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* Typography Styles*/

h1 {
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #333;

}

h2 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #333;

}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #333;
}

h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #4f4f4f;
}

li {
  color: #333;
}

/* Components */

button {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}


/* Navigation */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  border: 0.5px solid rgba(166, 28, 49, 0.07);
  background-color: white;
  scroll-behaviour: smooth;
}

nav img {
  width: 8rem;
  height: 4rem;
  margin-left: 2rem;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  display: block;
  width: 15vw;
  color: #333333;
}

nav ul li a:hover {
  text-decoration: underline 5px solid #a61c31;
  transition: text-decoration 0.5s;
}

.toggle {
  display: none;
}



/* BUTTONS */

button {
  width: 16rem;
  height: 3.5rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #a61c31;
  color: white;
  border-radius: 10px;
  border-style: none;
}

.pry-btn {
  background-color: #a61c31;
  color: white;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.tertiarybtn {
  color: #a61c31;
  font-weight: 600;
  cursor: pointer;
}

.contact-btn {
  padding: 0.1rem 0.5rem;
  width: 7rem;
  cursor: pointer;
}


/* FOOTER STYLES*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 5rem auto 3rem auto;
}

.sales-hook {
  width: 18%;
}

.sales-hook img {
  margin-bottom: 1rem;
}

footer h3 {
  margin-bottom: 8px;
  font-size: 1.25rem;
}

footer p {
  margin-bottom: 4px;
  font-size: 1.125rem;
}

.footer-practice-section {
  width: 80%;
  display: flex;
  justify-content: center;
}

.footer-practice-content {
  width: 50%;
}

.footer-practice-areas {
  display: flex;
}

.footer-practice-area1 {
  margin-right: 10%;
}

.footer-contact {
  width: 18%;
  margin-right: 6%;
}

.footer-email {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.footer-email img {
  margin-right: 8px;
}

.footer-phone {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.footer-phone img {
  margin-right: 8px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social img {
  margin-right: 8px;
}


/* HOME PAGE LAYOUT AND STYLES */

/* HERO SECTION */
.fold-area {
  margin-top: 104px;
  margin-bottom: 64px;
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  background: url("../images/sean-pollock-PhYq704ffdA-unsplash.jpg") #333333;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  margin-bottom: 10vh;
}


/* Div containing quote, h1 and button */
.fold-area-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fold-area-section h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  color: white;
}


.fold-area-section img {
  width: 48px;
  height: 48px;
}

.usp-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(263.81deg, rgba(196, 196, 196, 0.5) 1.35%, rgba(196, 196, 196, 0.3) 35.09%, rgba(196, 196, 196, 0.15) 67.29%, rgba(196, 196, 196, 0.05) 99.5%);
  border-radius: 10px;
  margin-top: -24px;
  padding-top: 40px;
  padding-bottom: 40px;
}


.usp-section h1 {
  text-align: center;
  width: 80%;
  margin-bottom: 16px;
  color: white;
}

.usp-section p {
  color: white;
}

/* SALES PITCH SECTION STYLES */
.sales-pitch-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sales-pitch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 28vh;
  background-color: rgba(166, 28, 49, 0.07);
  border-radius: 10px;
  border: 0.5px solid #e1b437;
  margin-bottom: 120px;
}

.sales-pitch .yellow-line {
  height: 18vh;
  width: 0.1%;
  background-color: #e1b437;
}


.pitch-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pitch-section h3 {
  color: #a61c31;
}


/* RECENT CASE SECTION STYLES */

.recentcase {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.news-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 48px;
}


.news-section .news-post {
  width: 29%;
  height: 120%;
  background-color: rgba(166, 28, 49, 0.07);
  padding: 32px 8px 0px 32px;
  margin-right: 24px;
  border: 0.1px solid #a61c31;
  border-radius: 10px;
  margin-bottom: 24px;
}

.news-section .news-post h3 {
  width: 90%;
  margin-bottom: 16px;
}

.news-section .news-post p {
  width: 95%;
}

.news-post .tertiarybtn {
  margin-top: 48px;
  margin-bottom: 32px;
}



/* PRACTICE AREA SECTION */

.practice-area-section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.practice-areas-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 56px;
  width: 80%;
}


.practice-areas {
  width: 20%;
  height: 40%;
  border: 0.5px solid #a61c31;
  border-radius: 15px;
  margin: 40px 24px 24px 40px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.practice-areas img {
  height: 60px;
  width: 60px;
  margin-bottom: 24px;
}

.practice-areas h3 {
  margin-bottom: 64px;
}


/* TEAM MEMBERS SECTION */
.our-team-section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(166, 28, 49, 0.07);
  height: 40vh;
  margin-bottom: 260px;
}


.our-team-title {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.see-all-members {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.see-all-members img {
  width: 24px;
  height: 24px;
}

.see-all-members p {
  color: #a61c31;
}

.team-members-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
  margin-top: 56px;
}

.team-member {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 160px;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 25px rgba(165, 28, 48, 0.07)) drop-shadow(-5px -5px 25px rgba(165, 28, 48, 0.07));
}

.team-member img {
  width: 80%;
  height: 40vh;
  border-radius: 10px 10px 0 0;
  filter: drop-shadow(5px 5px 25px rgba(165, 28, 48, 0.07)) drop-shadow(-5px -5px 25px rgba(165, 28, 48, 0.07));
  object-fit: cover;
}

.team-member-info {
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.team-member-info p {
  margin-bottom: 8px;
  margin-top: 8px;
}

.team-member-info h3 {
  margin-bottom: 32px;
}


/* TESTIMONIAL SECTION STYLES */
.testimonial-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 128px auto;
  margin-bottom: 120px;
}

.testimonial-section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.testimonial-section-title h2 {
  line-height: 1.8rem;
}

.testimonial-nav-box {
  width: 25%;
  border: 1px solid #e1b437;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(166, 28, 49, 0.07);
  display: none;
}

.testimonial-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
  width: 110%;
}

.testimonial-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50%;
  border: 1px solid #a61c31;
  padding: 24px 8px;
  margin-right: 24px;
  background-color: rgba(166, 28, 49, 0.07);
  border-radius: 10px;
}

.testimonial-group .quote {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a61c31;
  border-radius: 50%;
}

.quote p {
  color: white;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}

.testimonial-info .client-info {
  margin-top: 24px;
}

.testimonial-info .client-info .client {
  font-weight: 700;
}

.testimonial-info .client-info .client-role {
  color: #4f4f4f;
}

/* CUSTOMERS SECTION STYLES */
.customers-section {
  margin: 120px auto 96px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.customers-section h2 {
  margin-bottom: 48px;
}

.customer-logo-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.first-logo-group,
.second-logo-group {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.customer-logo {
  border: 1px solid #a61c31;
  border-radius: 8px;
  margin-bottom: 32px;
}

.customers-section .customer-logo-group .customer-logo img {
  width: 160px;
  height: 100px;
  border-radius: 8px;
  object-fit: contain;
}


/* LAST SALES PITCH SECTION STYLES */
.unwinnable-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(166, 28, 49, 0.07);
  padding-top: 64px;
  padding-bottom: 64px;
}

.unwinnable-section h2 {
  margin-bottom: 24px;
}

.unwinnable-section p {
  margin-bottom: 32px;
  width: 80%;
  text-align: center;
}

.unwinnable-section h2+p {
  margin-bottom: 8px;
}

.unwinnable-section p:last-of-type {
  width: 30%;
}

.about {
  text-decoration: underline 5px solid #a61c31;
}


/*===ABOUT PAGE LAYOUT AND STYLES==*/

/* PROMO SECTION */
.promo-section {
  margin: 160px auto 120px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



.promo-section .promo-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.promo-section .promo-info h1 {
  margin-bottom: 16px;
}

.promo-section .promo-info p {
  margin-bottom: 24px;
}

.promo-section .promo-info .promo-infotext {
  width: 50%;
}

.promo-section .promo-info .promo-video {
  width: 70%;
  height: 50%;
  margin-left: 15%;
}

.promo-section .promo-info .promo-video iframe {
  object-fit: contain;
}

.promo-section2 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.promo-section2 .promo-image img {
  width: 80%;
  height: 90%;
  object-fit: cover;
}

.promo-info2 {
  width: 60%;
}

.promo-info2 h2 {
  margin-bottom: 16px;
}

.promo-info2 p {
  margin-bottom: 24px;
}

/* HISTORY SECTION */
.history-section {
  width: 80%;
  margin: 0 auto 120px auto;
}

.history-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.history-card {
  width: 25%;
  padding: 32px;
  background-color: rgba(166, 28, 49, 0.07);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.history-card ul {
  list-style-type: disc;
  color: #a61c31;
}

.history-card ul .history-text {
  color: #333333;
}

/* VALUE SECTION */
.value-section {
  width: 80%;
  margin: 0 auto 120px auto;
}

.value-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.value-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  height: 40%;
  border: 0.5px solid #a61c31;
  border-radius: 8px;
  padding: 24px;
}

.value-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.value-card-title img {
  width: 48px;
  height: 48px;
}

/* MANAGEMENT SECTION */
.management-section {
  width: 80%;
  margin: 0 auto 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.management-team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.management-team-members .team-member {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 72px;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 25px rgba(146, 117, 121, 0.07)) drop-shadow(-5px -5px 25px rgba(129, 83, 90, 0.07));
}

.management-team-members .team-member img {

  border-radius: 10px 10px 0 0;
  filter: drop-shadow(5px 5px 25px rgba(146, 117, 121, 0.07)) drop-shadow(-5px -5px 25px rgba(129, 83, 90, 0.07));
  object-fit: cover;
}

.management-team-members .team-member .team-member-info {
  background-color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.management-team-members .team-member .team-member-info p {
  margin-bottom: 8px;
  margin-top: 8px;
}

.management-team-members .team-member .team-member-info h3 {
  margin-bottom: 32px;
}

.yellow-divider {
  width: 80%;
  height: 1px;
  background-color: #e1b437;
  margin: 48px auto;
}



/* ===CONTACT PAGE SECTION STYLES==== */

.contact-section {
  width: 80%;
  margin: 160px auto 120px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-section .contact-info {
  width: 58%;
}

.contact-section .contact-info h1 {
  margin-bottom: 32px;
}

.phone-contact {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.location-pin {
  width: 38%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
}

.phone-contact img,
.location-pin img {
  width: 48px;
  height: 48px;
}

.contact-info select {
  background-color: transparent;
  border: 1px solid #a61c31;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 50%;
  font-family: "Lato", sans-serif;
}

.contact-form {
  border: 1px solid #a61c31;
  border-radius: 8px;
  background-color: rgba(166, 28, 49, 0.07);
  padding: 56px;
}

.contact-form h2 {
  margin-bottom: 32px;
  line-height: 1.5rem;
}

.name-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.form-entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 32px;
}

.form-entry label {
  margin-bottom: 8px;
}

.form-entry input,
.form-entry textarea {
  background-color: transparent;
  border: 1px solid #a61c31;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
}

.form-entry textarea {
  margin-bottom: 32px;
}

.name-section .form-entry1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 32px;
}

.name-section .form-entry1 label {
  margin-bottom: 8px;
}

.name-section .form-entry1 input {
  background-color: transparent;
  border: 1px solid #a61c31;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 80%;
}

.name-section .form-entry1 input:active {
  background-color: transparent;
  border: 2px solid #a61c31;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
}





/* ============MEDIA QUERIES=========== */

/* ===Max-width: 600px==== */

@media screen and (max-width: 600px) {


  /* NAVIGATION */
  /* NAVIGATION */
  nav {
    width: 100%;
    justify-content: space-between;
  }

  nav img {
    margin-left: 56px;
  }

  .container {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -1000px;
    right: 0;
    width: 50vw;
    height: 100vh;
    z-index: 1;
    transition: 0.75s all ease-in-out;
  }

  .container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .container ul li {
    display: block;
    padding: 2rem;
    width: 8rem;
  }


  .nav-open {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    z-index: 1;
    transition: 0.75s all ease-in-out;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    margin-right: 56px;
  }

  .toggle1 {
    width: 32px;
    background-color: #a61c31;
    height: 2px;
    border-radius: 5px;
  }

  .toggle2 {
    width: 32px;
    background-color: #e1b437;
    height: 2px;
    border-radius: 5px;
    margin: 7px 0px;
  }

  .toggle3 {
    width: 32px;
    background-color: #a61c31;
    height: 2px;
    border-radius: 5px;
  }



  /* =====FOOTER STYLES===== */
  /*=== FOOTER STYLES === */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: space-between;
    width: 80%;
    margin: 48px auto;
  }

  .sales-hook {
    width: 100%;
  }

  .sales-hook img {
    width: 25%;
    height: 25%;
  }

  .footer-practice-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 48px 5%;
  }

  .footer-practice-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-practice-areas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-contact {
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .footer-contact h3 {
    margin-bottom: 32px;
  }

  .footer-contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  /*=== TYPOGRAPHY === */
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1rem;
  }

  h4 {
    font-size: 1.125rem;
    line-height: 1.25rem;
  }

  p {
    line-height: 1.2rem;
  }

  button {
    font-size: 1.25rem;
  }





  /* === HOME PAGE === */

  /* Area above the fold */
  .fold-area {
    max-width: 100vw;
    height: 80vh;
    margin-top: 96px;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  .fold-area-section {
    width: 100%;
  }

  .usp-section {
    width: 80%;
  }

  /* Sales pitch section styles */
  .sales-pitch-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .sales-pitch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
  }

  .sales-pitch .yellow-line {
    height: 0.1%;
    width: 18vw;
  }

  .sales-pitch .pitch-section {
    margin: 16px auto;
  }

  /* Recent case section */
  .recentcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recentcase h2 {
    text-align: center;
    margin: 16px auto;
  }

  .news-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news-section .news-post {
    width: 75%;
    margin-right: 0;
    margin-bottom: 48px;
    height: 120%;
  }

  .news-post h3 {
    margin-bottom: 24px;
    line-height: 1.5rem;
  }

  .news-post .tertiarybtn {
    margin-top: 48px;
    margin-bottom: 24px;
  }


  /* Practice Areas */
  .practice-areas-box {
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .practice-areas {
    width: 55%;
    height: 25%;
  }

  .practice-areas h3 {
    text-align: center;
  }

  .practice-areas .tertiarybtn {
    margin-bottom: 16px;
  }


  /* Our Team Section */
  .our-team-section {
    height: 220vh;
    margin-bottom: 80px;
  }

  .see-all-members {
    width: 22%;
  }

  .team-members-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-member {
    width: 80%;
    margin-bottom: 72px;
  }


  /* Testimonial Section */
  .testimonial-section {
    margin-bottom: 72px;
  }

  .testimonial-section-title h2 {
    text-align: center;
  }

  .testimonial-box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  .testimonial-group {
    width: 80%;
    margin-bottom: 32px;
  }


  /* Customer Section */
  .customers-section {
    align-items: center;
  }

  .customer-logo-group {
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
  }

  .first-logo-group,
  .second-logo-group {
    flex-wrap: wrap;
    align-items: center;
  }

  .customer-logo {
    margin-right: 0;


  }

  .unwinnable-section h2 {
    width: 80%;
    text-align: center;
    line-height: 1.8rem;
  }

  .unwinnable-section p {
    width: 100%;
    text-align: center;
  }

  .unwinnable-section p:last-of-type {
    width: 50%;
  }


  /* ======ABOUT PAGE STYLES AND LAYOUT==== */

  .promo-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .promo-section .promo-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  .promo-info .promo-infotext {
    width: 100%;
    text-align: center;
  }

  .promo-section .promo-info .promo-video {
    width: 50%;
    height: 100%;
    margin-bottom: 32px;
    margin-left: 0;
  }

  .promo-video iframe {
    width: 100%;

  }

  .promo-section2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
  }

  .promo-section2 .promo-image {
    width: 80%;
    height: 80%;
  }

  .promo-section2 .promo-image img {
    width: 100%;
    height: 100%;
  }

  .promo-section2 .promo-info2 {
    width: 80%;
    text-align: center;
  }

  .promo-section2 .promo-info2 h2 {
    margin-top: 24px;
    line-height: 2rem;
  }

  .history-section {
    width: 60%;
    margin: 56px auto 56px auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .history-section h2 {
    text-align: center;
  }

  .history-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .history-card {
    width: 80%;
    margin-bottom: 32px;
  }


  .value-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 64px;
  }

  .value-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .value-card {
    width: 80%;
    margin-bottom: 32px;
  }

  .management-section {
    margin-bottom: 64px;
  }

  .management-section h2 {
    text-align: center;
    line-height: 1.8rem;
  }

  .management-team-members {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .management-team-members .team-member {
    width: 80%;
  }


  /*=====CONTACT PAGE STYLES AND LAYOUT==== */

  .contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 120px auto 96px auto;
  }

  .name-section {
    flex-wrap: wrap;
  }

  .contact-section .contact-info {
    width: 90%;
    margin-bottom: 56px;
    margin-left: 10%;
  }

  .phone-contact {
    width: 30%;
  }

  .location-pin {
    width: 45%;
  }



  .contact-form {
    width: 80%;
    padding: 48px;
  }






}






/* Max-width: 1024px */


@media screen and (min-width: 601px) and (max-width: 1024px) {

  /* NAVIGATION */
  nav {
    width: 100%;
    justify-content: space-between;
  }

  nav img {
    margin-left: 56px;
  }

  .container {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -1000px;
    right: 0;
    width: 50vw;
    height: 100vh;
    z-index: 1;
    transition: 0.75s all ease-in-out;
  }

  .container ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .container ul li {
    display: block;
    padding: 2rem;
    width: 8rem;
  }


  .nav-open {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    z-index: 1;
    transition: 0.75s all ease-in-out;
  }

  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    margin-right: 56px;
  }

  .toggle1 {
    width: 32px;
    background-color: #a61c31;
    height: 2px;
    border-radius: 5px;
  }

  .toggle2 {
    width: 32px;
    background-color: #e1b437;
    height: 2px;
    border-radius: 5px;
    margin: 7px 0px;
  }

  .toggle3 {
    width: 32px;
    background-color: #a61c31;
    height: 2px;
    border-radius: 5px;
  }




  /* =====FOOTER STYLES===== */
  /*=== FOOTER STYLES === */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: space-between;
    width: 80%;
    margin: 48px auto;
  }

  .sales-hook {
    width: 100%;
  }

  .sales-hook img {
    width: 25%;
    height: 25%;
  }

  .footer-practice-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 48px 5%;
  }

  .footer-practice-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-practice-areas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer-contact {
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .footer-contact h3 {
    margin-bottom: 32px;
  }

  .footer-contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  /* ======TYPOGRAPHY STYLES====== */

  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  button {
    font-size: 1.125rem;
  }


  /* ====HOME PAGE LAYOUT AND STYLES==== */
  .fold-area {
    height: 90vh;
  }



  .sales-pitch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    width: 40%;
  }

  .sales-pitch .yellow-line {
    height: 0.1%;
    width: 18vw;
  }

  .recentcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .recentcase h2 {
    text-align: center;
  }

  .news-section {
    width: 100%;
  }

  .news-section .news-post {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  .news-post h3 {
    margin-bottom: 24px;
  }

  .news-post .tertiarybtn {
    margin-top: 32px;
    margin-bottom: 40px;
  }


  .practice-areas-box {
    width: 80%;
  }

  .practice-areas {
    width: 32%;
    padding-bottom: 24px;
    height: 55%;
  }

  .our-team-section {
    margin-bottom: 360px;
  }

  .see-all-members {
    width: 12.5%;
  }

  .team-members-box {
    width: 100%;
  }

  .team-members {
    width: 100%;
    text-align: center;
  }

  .customer-logo-group {
    width: 100%;
    justify-content: space-between;
  }

  .first-logo-group,
  .second-logo-group {
    flex-wrap: wrap;
  }

  .unwinnable-section p:last-of-type {
    width: 55%;
    text-align: center;
  }



  /* =====ABOUT US PAGE STYLES AND LAYOUT==== */
  .promo-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .promo-section .promo-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .promo-section .promo-infotext {
    width: 80%;
    text-align: center;
  }

  .promo-section .promo-info .promo-video {
    width: 70%;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

  .promo-section2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 48px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .promo-section2 .promo-image {
    width: 75%;
    height: 75%;
  }

  .promo-section2 .promo-image img {
    width: 85%;
    height: 80%;
    margin-bottom: 24px;
  }

  .promo-section2 .promo-info2 {
    width: 65%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  .promo-section2 .promo-info2 h2 {
    margin-top: 8px;
    line-height: 2rem;
  }



  .history-section .history-cards {
    display: flex;
    flex-wrap: wrap;
    space-evenly;
  }

  .history-card {
    width: 40%;
    margin-bottom: 32px;
  }

  .value-cards {
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .value-card {
    width: 40%;
    margin-bottom: 32px;
  }

  .management-team-members {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .management-team-members .team-member {
    width: 80%;
  }


  /* =====CONTACT PAGE LAYOUT AND STYLES==== */
  .contact-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 120px auto 96px auto;
  }

  .contact-section .contact-info {
    width: 75%;
    margin-bottom: 56px;
  }

  .contact-section .contact-form {
    width: 80%;
  }


}